<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Coding Events</title>
</head>
<body class="container">


<h1>Coding Events</h1>

<nav th:replace="fragments :: navigation">
</nav>

    <p th:unless="${events} and ${events.size()}">No Events!</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event}">Default Event</td>
    </tr>
</table>


<!--    <ul>-->
<!--        <th:block th:each="event : ${events}">-->
<!--            <li th:text="${event}">Default Event</li>-->
<!--        </th:block>-->
<!--    </ul>-->

</body>

</html>