<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Coding Events</title>
</head>
<body class="container">


<h1>Coding Events</h1>

<nav th:replace="fragments :: navigation">
</nav>

    <p th:unless="${events} and ${events.size()}">No Events!</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>techhub address</th>
        </tr>
    </thead>

<!--USING TH:BLOCK-->
    <th:block th:each="event : ${events.keySet()}">
        <tr>
            <td th:text="${event}">Default Event</td>
            <td th:text="${events.get(event)}">Default Dates</td>
            <td th:replace="fragments :: techHub"></td>
        </tr>
    </th:block>

<!--    NOT USING th:block (both work, this is less lines of code though, don't know why you would -->
<!--    not put the th:each in the <tr> tag-->

<!--    <tr th:each="event : ${events.keySet()}">-->
<!--        <td th:text="${event}">Default Event</td>-->
<!--        <td th:text="${events.get(event)}">Default Dates</td>-->
<!--    </tr>-->

</table>

</body>

</html>